{% assign page_author_name = page.author.name | default: site.author.name | default: nil | escape %}
{% assign page_author_short_bio = page.author.short_bio[page.lang] | default: site.author.short_bio[page.lang] | default: nil | escape %}
{% assign page_author_picture = page.author.picture | default: site.author.picture | default: nil | escape %}

{% capture about_url %}{% include get-page-url.html page_ref="about" page_lang=page.lang %}{% endcapture %}

{% if page_author_name %}
<div class="author-article">
  <div class="author-picture">
    <a href="{{ about_url }}">
      <img src="{{ page_author_picture }}" class="author-image" alt="{{ page_author_name }}">
    </a>
  </div>

  <div class="author-bio">
    <a href="{{ about_url }}" title="{{ page_author_name }}">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
        {{ page_author_name }}
      </span></span>
    </a>
    <div class="post-meta-list">{{ page_author_short_bio }}</div>
  </div>
</div>
{% endif %}
<div class="post-meta">
  {% include post-meta-info.html post_date=page.date post_ref=page.ref post_url=page.url post_lang=page.lang %}
</div>
