{% if site.disqus_id %}
{% assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
<div id="disqus_thread"></div>

<script>
var disqus_config = function () {
this.page.url = "{{ canonical_url }}";
this.page.identifier = "{{ page.ref }}";
};

(function() {
var d = document, s = d.createElement('script');
s.src = 'https://{{site.disqus_id}}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

