---
layout: default
---

<div>

  {{ content }}

  <div>&nbsp;</div>
  <h2>{{ site.t[page.lang].latest-posts }}</h2>
  <div>&nbsp;</div>

  {% assign posts_lang = site.posts | where:"lang", page.lang %}

  <ul class="post-list">
    {% for post in posts_lang %}
      <li>
        {% if site.show_post_image_posts_list %}
          <div style="height:100px;width=100%;margin-bottom:13px;background:url('{{post.header.image | prepend: site.baseurl }}') center center repeat;">
          </div>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        <div class="post-meta-list">
          {% include post-meta-info.html post_date=post.date post_url=post.url post_lang=post.lang %}
        </div>

        <span>{{ post.excerpt | default: post.tagline | markdownify | truncatewords: 140 }}</span>
        <div class="post-meta-list"><a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">{{ site.t[page.lang].read-more }}...</a></div>
      </li>
    {% endfor %}
  </ul>

</div>
